{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="umachay">
  <meta name="author" content="JumperTechnology">
  <title>SALIR | LOGOUT | UMACHAY | ACADEMIA ONLINE</title>

  <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" type="image/x-icon" href="img/apple-touch-icon-57x57-precomposed.png">
  <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="img/apple-touch-icon-72x72-precomposed.png">
  <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="img/apple-touch-icon-114x114-precomposed.png">
  <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="img/apple-touch-icon-144x144-precomposed.png">


  <link rel="shortcut icon" href="{% static 'img/logo.png' %}" type="image/x-icon">
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
  <link href="{% static 'css/wizard.css' %}" rel="stylesheet">
  <link href="{% static 'css/custom.css' %}" rel="stylesheet">

  <!-- Modernizr -->
  <script src="{% static 'js/modernizr.js' %}"></script>

	<script type="text/javascript">
    function delayedRedirect(){
        window.location = "{% url 'web_home' %}"
    }
    </script>

</head>
<body onLoad="setTimeout('delayedRedirect()', 6000)" style="background-color:#fff8d4;">
    <div id="success">
        <h4><span>Vuelve pronto!</span>Gracias por su tiempo.</h4>
        <small>Sera redireccionado en 5 segundos.</small>
    </div>
</body>
</html>
