{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="umachay">
    <meta name="author" content="JumperTechnology">
    <title>INGRESA | LOGIN | UMACHAY | ACADEMIA ONLINE</title>

    <!-- Favicons-->
    <link rel="shortcut icon" href="{% static 'img/logo.png' %}" type="image/x-icon">

    <!-- BASE CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
  	<link href="{% static 'css/vendors.css' %}" rel="stylesheet">
  	<link href="{% static 'css/icon_fonts/css/all_icons.min.css' %}" rel="stylesheet">

    <!-- YOUR CUSTOM CSS -->
    <link href="{% static 'css/custom.css' %}" rel="stylesheet">

  	<!-- Modernizr -->
  	<script src="{% static 'js/modernizr.js' %}"></script>

</head>

<body id="login_bg">

  <nav id="menu" class="fake_menu"></nav>
  <div id="preloader">
  	<div data-loader="circle-side"></div>
  </div>

  <div id="login">
  	<aside>
  		<figure>
  			<a href="{% url 'web_home' %}"><img src="{% static 'img/logo.png' %}" width="149" height="42" data-retina="true" alt=""></a>
  		</figure>
  		  <form action="{% url 'login' %}" method="post">{% csrf_token %}
  			<div class="access_social">
  			</div>
  			<div class="form-group">
  				<span class="input">
          <input id="id_username" name="username" type="username" autocomplete="off" class="input_field" required focus />
  					<label class="input_label">
  					<span class="input__label-content">Usuario</span>
  				</label>
  				</span>

  				<span class="input">
          <input id="id_password" name="password" type="password" autocomplete="new-password" class="input_field" required />
  					<label class="input_label">
  					<span class="input__label-content">Clave</span>
  				</label>
  				</span>
  				<!-- <small><a href="#0">Forgot?</a></small> -->
  			</div>
  			<button type="submit" class="btn_1 rounded full-width add_top_60">
          Ingresar a Umachay
        </button>
  			<div class="text-center add_top_10">Nuevo en Umachay? <strong><a href="{% url 'web_register' %}">Registrate!</a></strong></div>
  		</form>
  		<div class="copy">© 2018 Umachay</div>
  	</aside>
  </div>

	<!-- COMMON SCRIPTS -->
    <script src="{% static 'js/jquery-2.2.4.min.js' %}"></script>
    <script src="{% static 'js/common_scripts.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
	  <script src="{% static 'assets/validate.js' %}"></script>

</body>
</html>
