{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="umachay">
    <meta name="author" content="JumperTechnology">
    <title>REGITRARSE | LOGIN | UMACHAY | ACADEMIA ONLINE</title>

    <!-- Favicons-->
    <link rel="shortcut icon" href="{% static 'img/logo.png' %}" type="image/x-icon">

    <!-- BASE CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
  	<link href="{% static 'css/vendors.css' %}" rel="stylesheet">
  	<link href="{% static 'css/icon_fonts/css/all_icons.min.css' %}" rel="stylesheet">

    <!-- YOUR CUSTOM CSS -->
    <link href="{% static 'css/custom.css' %}" rel="stylesheet">

  	<!-- Modernizr -->
  	<script src="{% static 'js/modernizr.js' %}"></script>

</head>

<body id="login_bg">

  <nav id="menu" class="fake_menu"></nav>
  <div id="preloader">
  	<div data-loader="circle-side"></div>
  </div>

  <div id="login">
		<aside>
			<figure>
				<a href="{% url 'web_home' %}"><img src="img/logo.png" width="149" height="42" data-retina="true" alt=""></a>
			</figure>
			<form autocomplete="off">
				<div class="form-group">

					<span class="input">
					<input class="input_field" type="text">
						<label class="input_label">
						<span class="input__label-content">Nombre</span>
					</label>
					</span>

					<span class="input">
					<input class="input_field" type="text">
						<label class="input_label">
						<span class="input__label-content">Apellidos</span>
					</label>
					</span>

					<span class="input">
					<input class="input_field" type="email">
						<label class="input_label">
						<span class="input__label-content">Correo Electronico</span>
					</label>
					</span>

					<span class="input">
					<input class="input_field" type="password" id="password1">
						<label class="input_label">
						<span class="input__label-content">Contraseña</span>
					</label>
					</span>

					<span class="input">
					<input class="input_field" type="password" id="password2">
						<label class="input_label">
						<span class="input__label-content">Confirmar contraseña</span>
					</label>
					</span>

					<div id="pass-info" class="clearfix"></div>
				</div>
				<a href="#" class="btn_1 rounded full-width add_top_30">Registrarse a Umachay</a>
				<div class="text-center add_top_10">¿Ya tienes una cuenta? <strong><a href="{% url 'login' %}">Ingresar</a></strong></div>
			</form>
			<div class="copy">© 2018 Umachay</div>
		</aside>
	</div>

	<!-- COMMON SCRIPTS -->
    <script src="{% static 'js/jquery-2.2.4.min.js' %}"></script>
    <script src="{% static 'js/common_scripts.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
	  <script src="{% static 'assets/validate.js' %}"></script>

</body>
</html>
