{% extends "base.html" %}
{% load staticfiles %}

{% block title %}UMACHAY | Academia Virtual{% endblock title %}

{% block css %}
{% endblock css %}

{% block style %}
{% endblock style %}


{% block content %}
            <section class="header-video">
              <div id="hero_video">
                <div>
                  <h3><strong>Los Mejores Cursos</strong><br>en la Academia Umachay</h3>
                  <p>Se aburre con las prácticas cotidianas, en sus estudios, <strong>aqui encontra</strong> la diversión.</p>
                </div>
                <a href="#first_section" class="btn_explore hidden_tablet"><i class="ti-arrow-down"></i></a>
              </div>
              <img src="{% static 'img/cabecera.jpg' %}" alt="" class="header-video--media" data-video-src="video/intro" data-teaser-source="video/intro" data-provider="" data-video-width="1920" data-video-height="960">
            </section>

            <ul id="grid_home" class="clearfix">
              <li>
                <a href="#0" class="img_container">
                  <img src="{% static 'img/portadas/600_400.jpg' %}" alt="">
                  <div class="short_info">
                    <h3><strong>Nuestros</strong>Servicios</h3>
                    <div><span class="btn_1 rounded">Leer más</span></div>
                  </div>
                </a>
              </li>
              <li>
                <a href="#0" class="img_container">
                  <img src="{% static 'img/portadas/600_400.jpg' %}" alt="">
                  <div class="short_info">
                    <h3><strong>Nuestra comunidad</strong>de estudiantes</h3>
                    <div><span class="btn_1 rounded">Leer más</span></div>
                  </div>
                </a>
              </li>
              <li>
                <a href="#0" class="img_container">
                  <img src="{% static 'img/portadas/600_400.jpg' %}" alt="">
                  <div class="short_info">
                    <h3><strong>Nuestros</strong>Docentes</h3>
                    <div><span class="btn_1 rounded">Leer más</span></div>
                  </div>
                </a>
              </li>
            </ul>

            <div class="container-fluid margin_120_0" id="first_section">
              <div class="main_title_2">
                <span><em></em></span>
                <h2>Umachay Nuestros Servicios</h2>
                <p>Te preparamos para la vida.</p>
              </div>
              <div id="reccomended" class="owl-carousel owl-theme">
                <div class="item">
                  <div class="box_grid">
                    <figure>
                      <a href="#">
                        <div class="preview"><span>Ver más</span></div><img src="{% static 'img/portadas/800_533.jpg' %}" class="img-fluid" alt=""></a>
                      <div class="price">S/. 39.00</div>

                    </figure>
                    <div class="wrapper">
                      <small>Para</small>
                      <h3>Educación Secundaria</h3>
                      <p>..................................................................................................................</p>
                    </div>
                    <ul>
                      <li><i class="icon_clock_alt"></i> 1 año</li>
                      <li><a href="#">Obtener Paquete</a></li>
                    </ul>
                  </div>
                </div>
                <div class="item">
                  <div class="box_grid">
                    <figure>
                      <a href="#"><img src="{% static 'img/portadas/800_533.jpg' %}" class="img-fluid" alt=""></a>
                      <div class="price">S/. 45.00</div>
                      <div class="preview"><span>Ver más</span></div>
                    </figure>
                    <div class="wrapper">
                      <small>Para</small>
                      <h3>Preparación Pre-Universitaria</h3>
                      <p>..................................................................................................................</p>
                    </div>
                    <ul>
                      <li><i class="icon_clock_alt"></i> 1 año</li>
                      <li><a href="#">Obtener Paquete</a></li>
                    </ul>
                  </div>
                </div>
                <div class="item">
                  <div class="box_grid">
                    <figure>
                      <a href="#"><img src="{% static 'img/portadas/800_533.jpg' %}" class="img-fluid" alt=""></a>
                      <div class="price">S/. 54.00</div>
                      <div class="preview"><span>Ver más</span></div>
                    </figure>
                    <div class="wrapper">
                      <small>Para</small>
                      <h3>Material de docencia</h3>
                      <p>..................................................................................................................</p>
                    </div>
                    <ul>
                      <li><i class="icon_clock_alt"></i> 1 año</li>
                      <li><a href="#">Obtener Paquete</a></li>
                    </ul>
                  </div>
                </div>
                <div class="item">
                  <div class="box_grid">
                    <figure>
                      <a href="#"><img src="{% static 'img/portadas/800_533.jpg' %}" class="img-fluid" alt=""></a>
                      <div class="price">S/. 27.00</div>
                      <div class="preview"><span>Ver más</span></div>
                    </figure>
                    <div class="wrapper">
                      <small>Para</small>
                      <h3>Examenes de admisión</h3>
                      <p>..................................................................................................................</p>
                    </div>
                    <ul>
                      <li><i class="icon_clock_alt"></i> 1 año</li>
                      <li><a href="#">Obtener Paquete</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="container">
                <p class="btn_home_align"><a href="#" class="btn_1 rounded">Ver todo</a></p>
              </div>
              <hr>
            </div>

            <div class="bg_color_1">
              <div class="container margin_120_95">
                <div class="main_title_2">
                  <span><em></em></span>
                  <h2>Calendario de Examenes Tipo Admisión</h2>
                  <p>Animate y prueba tu destreza.</p>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <a class="box_news" href="#0">
                      <figure><img src="{% static 'img/portadas/500_333.jpg' %}" alt="">
                        <figcaption><strong>28</strong>Marzo</figcaption>
                      </figure>
                      <ul>
                        <li>Medicina</li>
                        <li>20.11.2017</li>
                      </ul>
                      <h4>San Marcos</h4>
                      <p>ETA (Examen tipo admisión)....</p>
                    </a>
                  </div>
                  <div class="col-lg-6">
                    <a class="box_news" href="#0">
                      <figure><img src="{% static 'img/portadas/500_333.jpg' %}" alt="">
                        <figcaption><strong>28</strong>Marzo</figcaption>
                      </figure>
                      <ul>
                        <li>Ingenieria</li>
                        <li>20.11.2017</li>
                      </ul>
                      <h4>UNI</h4>
                      <p>ETA (Examen tipo admisión)....</p>
                    </a>
                  </div>
                  <div class="col-lg-6">
                    <a class="box_news" href="#0">
                      <figure><img src="{% static 'img/portadas/500_333.jpg' %}" alt="">
                        <figcaption><strong>28</strong>Marzo</figcaption>
                      </figure>
                      <ul>
                        <li>Arquitectura</li>
                        <li>20.11.2017</li>
                      </ul>
                      <h4>UNCP</h4>
                      <p>ETA (Examen tipo admisión)....</p>
                    </a>
                  </div>
                  <div class="col-lg-6">
                    <a class="box_news" href="#0">
                      <figure><img src="{% static 'img/portadas/500_333.jpg' %}" alt="">
                        <figcaption><strong>28</strong>Marzo</figcaption>
                      </figure>
                      <ul>
                        <li>Leyes</li>
                        <li>20.11.2017</li>
                      </ul>
                      <h4>UPT</h4>
                      <p>ETA (Examen tipo admisión)....</p>
                    </a>
                  </div>
                </div>
                <p class="btn_home_align"><a href="#" class="btn_1 rounded">Ver todo los examenes</a></p>
              </div>
            </div>
{% endblock content %}

{% block javascript %}
{% endblock javascript %}

{% block scripts %}
{% endblock scripts %}
