{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="umachay">
    <meta name="author" content="JumperTechnology">
    <title>{% block title %}{% endblock title %}</title>

    <!-- Favicons-->
    <link rel="shortcut icon" href="{% static 'img/logo.png' %}" type="image/x-icon">

    <!-- BASE CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
  	<link href="{% static 'css/vendors.css' %}" rel="stylesheet">
  	<link href="{% static 'css/icon_fonts/css/all_icons.min.css' %}" rel="stylesheet">

    <!-- YOUR CUSTOM CSS -->
    <link href="{% static 'css/custom.css' %}" rel="stylesheet">
    {% block css %}
    {% endblock css %}

    {% block style %}
    {% endblock style %}

  	<!-- Modernizr -->
  	<script src="{% static 'js/modernizr.js' %}"></script>

</head>

<body>
  <header class="header menu_2">
    <div id="preloader"><div data-loader="circle-side"></div></div><!-- /Preload -->
    <div id="logo">
      <a href="#"><img src="{% static 'img/logo.png' %}" width="149" height="42" data-retina="true" alt=""></a>
    </div>
    <ul id="top_menu">
      <li><a href="#" class="login">Login</a></li>
      <li><a href="#0" class="search-overlay-menu-btn">Buscar</a></li>
      {% if user.is_authenticated %}
      <li id ="salir" class="hidden_tablet"><a href="{% url 'logout' %}" class="btn_2 rounded">Salir</a></li>
      {% else %}
      <li class="hidden_tablet"><a href="{% url 'login' %}" class="btn_1 rounded">Ingresar</a></li>
      {% endif %}
    </ul>
    <a href="#menu" class="btn_mobile">
      <div class="hamburger hamburger--spin" id="hamburger">
        <div class="hamburger-box">
          <div class="hamburger-inner"></div>
        </div>
      </div>
    </a>
    <nav id="menu" class="main-menu">
      <ul>
        <li><span><a href="#0">Inicio</a></span>
        <li><span><a href="#0">Cursos</a></span>
        </li>
        <li><span><a href="#0">Servicios</a></span>
        </li>
        <li><span><a href="#0">Contactenos</a></span>
        </li>
      </ul>
    </nav>

    <div class="search-overlay-menu">
      <span class="search-overlay-close"><span class="closebt"><i class="ti-close"></i></span></span>
      <form role="search" id="searchform" method="get">
        <input value="" name="q" type="search" placeholder="Buscar..." />
        <button type="submit"><i class="icon_search"></i>
        </button>
      </form>
    </div>
  </header>
	<div id="page">
      {% block header %}
      {% endblock header %}

    	<main>
    	{% block content %}
      {% endblock content %}
    	</main>

    	<footer>
    		<div class="container margin_120_95">
    			<div class="row">
    				<div class="col-lg-5 col-md-12 p-r-5">
    					<p><img src="{% static 'img/logo.png' %}" width="149" height="42" data-retina="true" alt=""></p>
    					<p>
                  Nunca consideres el estudio como una obligación, sino como una oportunidad para penetrar en el bello y maravilloso mundo del saber.
              </p>
    					<div class="follow_us">
    						<ul>
    							<li>Siguenos</li>
    							<li><a href="#0"><i class="ti-facebook"></i></a></li>
    							<li><a href="#0"><i class="ti-twitter-alt"></i></a></li>
    							<li><a href="#0"><i class="ti-google"></i></a></li>
    							<li><a href="#0"><i class="ti-pinterest"></i></a></li>
    							<li><a href="#0"><i class="ti-instagram"></i></a></li>
    						</ul>
    					</div>
    				</div>
    				<div class="col-lg-3 col-md-6 ml-lg-auto">
    					<h5>Enlaces</h5>
    					<ul class="links">
    						<li><a href="#0">Admission</a></li>
    						<li><a href="#0">Nosotrs</a></li>
    						<li><a href="#0">Logearte</a></li>
    						<li><a href="#0">Registrate</a></li>
    						<li><a href="#0">Examenes Tipo Adminsión</a></li>
    					</ul>
    				</div>
    				<div class="col-lg-3 col-md-6">
    					<h5>Contactenos</h5>
    					<ul class="contacts">
    						<li><a href="tel://051064223344"><i class="ti-mobile"></i> + 051 064 223344</a></li>
    						<li><a href="mailto:info@umachay.com"><i class="ti-email"></i> info@umachay.com</a></li>
    					</ul>
    					<div id="newsletter">
    					</div>
    				</div>
    			</div>
    			<!--/row-->
    			<hr>
    			<div class="row">
    				<div class="col-md-8">
    					<ul id="additional_links">
    						<li><a href="#0">Terminos y Condiciones</a></li>
    						<li><a href="#0">Privacidad</a></li>
    					</ul>
    				</div>
    				<div class="col-md-4">
    					<div id="copy">© 2018 Umachay</div>
    				</div>
    			</div>
    		</div>
    	</footer>
	</div>


	<!-- COMMON SCRIPTS -->
    <script src="{% static 'js/jquery-2.2.4.min.js' %}"></script>
    <script src="{% static 'js/common_scripts.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
	  <script src="{% static 'assets/validate.js' %}"></script>
    {% block javascript %}
    {% endblock javascript %}

	<!-- SPECIFIC SCRIPTS -->
  	<script src="{% static 'js/video_header.js' %}"></script>
  	<script>
  		HeaderVideo.init({
  			container: $('.header-video'),
  			header: $('.header-video--media'),
  			videoTrigger: $("#video-trigger"),
  			autoPlayVideo: true
  		});
  	</script>
    {% block scripts %}
    {% endblock scripts %}

</body>
</html>
